menuconfig NOTECARD
	bool "Blues Notecard driver"
	default y
	depends on DT_HAS_BLUES_NOTECARD_ENABLED
	help
        Enable driver for Notecard

if NOTECARD

config NOTECARD_HEAP_SIZE
	int "Heap buffer size"
    default 4096
	help
        Controls the size of static heap, used by note-c library.

config NOTECARD_INIT_PRIORITY
	int "Init priority"
	default 70
	help
	  Device driver initialization priority.

module = NOTECARD
module-str = notecard
source "subsys/logging/Kconfig.template.log_config"

endif
